
.snw-reference {
    font-size: 7pt;
    margin-left: 2px;
    margin-right: 1px;
    padding-left:   2px;
    padding-right:  2px;
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: center;
    top: -7px;
    border-radius: 3px;
    border: 1px dotted;
    opacity: 0.7;
    position: relative !important;
}

.snw-block {
} 

.snw-heading {
}

.snw-embed {  
}

.snw-link {
}

.snw-sidepane-container {
}

.snw-header-count-wrapper {
    width: 15px !important;
} 


.snw-header-count-wrapper {
    font-size: 8pt;
    min-width: 20px !important;
    height: 20px;
    border-radius: 5px;
    border: 1px dotted;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

.snw-header-count {
    text-align: center;
    min-width: 20px !important;
    opacity: 0.7 !important;
    height: 20px;
}

.snw-sidepane-container {
    padding: 10px;
    overflow: scroll;
}

.snw-sidepane-header {
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.snw-sidepane-header-references-header {
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 5px;
}

.snw-sidepane-references {
    margin-top: 0px;
}

.snw-sidepane-reference-item {
    padding-bottom: 5px;
    line-height: ;
    line-height: normal;
}

.snw-sidepane-reference-label-from {
    font-size: x-small;
}

.snw-sidepane-reference-label-to,
.snw-sidepane-reference-item-to {
    padding-top: 0px;
    font-size: x-small;
}
