
.snw-reference {
    color: black;
    font-size: 7pt;
    min-width: 10px !important;
    margin-left: 2px;
    margin-right: 1px;
    padding-left:   1px;
    padding-right:  1px;
    padding-bottom: 1px;
    top: -7px;
    border-radius: 3px;
    position: relative !important;
}

.snw-block {
    background-color: darkgreen;
}

.snw-heading {
    background-color: deepskyblue;
}

.snw-embed {
    background-color: lightblue;
}

.snw-link {
    background-color: darkkhaki;
}

.snw-sidepane-container {
    padding-left: 10px;
    padding-right: 10px;
}


.snw-header-count-wrapper {
    width: 15px !important;
}

.snw-header-count {
    font-size: 7pt;
    background-color: rgb(49, 61, 27);
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    margin-right: 5px;
    width: 15px
}