
.snw-reference {
    font-size: 6pt;
    vertical-align: top;
    border-radius: 3px;
    border: 1px dotted;
    opacity: 0.7;
    display: inline;
    padding-left: 1px;
}

/* CM Live Preview */
.cm-content .snw-reference {
    padding-right: 2px;
}

/* Preview mode */
.markdown-preview-view .snw-reference {
    padding-right: 3px;
}

.snw-block  {
    padding-left: 2px;
    margin-left: 2px;
}


.snw-heading {
    margin-left: 2px;
}

.snw-embed {
    margin-top: 1px;
}

.snw-embed-preview {
    top: 2px;
}

.snw-link {
    margin-left: 3px;
}

/* Hover container */
.snw-popover-container {
    min-height: 100px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid var(--background-modifier-border);
    background-color: var(--background-modifier-border) !important;
    overflow: hidden;
    z-index: 1000;
}


/* Shared reference area CSS */

.snw-ref-area {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 300px !important;
    color: var(--text-normal);
}


.snw-sidepane-container > div > .snw-ref-area {
    max-height: 100% !important; 
    margin-bottom: 10px; 
}

.snw-ref-area::-webkit-scrollbar {
    display: none;
} 

.snw-ref-title-popover {
    color: var(--text-muted);
    padding-top: 5px; 
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.snw-ref-title-side-pane { 
    color: var(--text-muted);
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    background-color: var(--background-secondary-alt);
    border: 2px solid var(--background-modifier-border);
}

.snw-ref-item-container { 
    margin-bottom: 2px;
    background-color: var(--background-primary);
    height: 100% !important;
}

.snw-sidepane-container .snw-ref-item-container {
    border-radius: 8px;
    border: 1px solid var(--background-modifier-border) !important;
    margin-bottom: 8px !important;
}

.snw-ref-item-file {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 16pt;
    background-color: var(--background-primary-alt);
    border-bottom: 1px solid var(--background-modifier-border);
}

.snw-sidepane-container .snw-ref-item-file{
    border-radius: 8px 8px 0 0 !important;
}

.snw-ref-item-info {
    padding-left: 10px;
    padding-right: 10px;
    max-height: 250px;
    overflow: hidden;
    border-top: 1px solid var(--background-modifier-border) !important;
}

.snw-ref-item-info a {
    text-decoration: none;
    color: var(--text-normal);
    cursor: default;
}


/* Sidepane */

.snw-sidepane-container {
    height: 100%;
}

.snw-header-count-wrapper {
    position: absolute;  
    z-index:1000;
    margin-top: 10px;
    right: 20px;
    font-size: 8pt;
    height: 20px;
    border-radius: 5px;
    border: 1px dotted;
    opacity: 0.5;
    padding: 3px;
}

.snw-header-count {
    text-align: center;
    height: 0px;
}


.snw-sidepane-container {
    padding: 10px;
    overflow: scroll;
}

.snw-sidepane-header {
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.snw-sidepane-header-references-header {
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 5px;
}

.snw-sidepane-references {
    margin-top: 0px;
    padding-left: 20px;
}

.snw-sidepane-reference-item {
    padding-bottom: 5px;
    line-height: normal;
}

.snw-sidepane-reference-label-from {
    font-size: x-small;
}

.snw-sidepane-reference-label-to,
.snw-sidepane-reference-item-to {
    padding-top: 0px;
    font-size: x-small;
} 

.snw-sidepane-linenumber {
    font-size: 7pt;
    opacity: 0.7;
}

.snw-embed-special {
    font-size: 8pt;
}
 
.snw-sidepane-loading {
    color: var(--text-muted);
    margin-top:  15px;
    margin-left: 20px;
}

.snw-sidepane-loading-subtext {
    color: var(--text-faint);
    font-style: italic;
    margin-top: 10px;
    font-size: small;
}